.test-class{
   background: lime;
}

.layout{
   background: rebeccapurple;
}
.selected{
	color: deepskyblue;
}

.chip {
	cursor: pointer;
	display: block;
}

#map {
	top: 7px;
}

.nav-wrapper, .btn {
	background: #6fb384;
}