<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>RecPlanner</title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- jQuery -->
   <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

   <!-- materialize -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

   <!-- Maps API -->
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEGAr0lLE7n6g1bEOC2smP7Q-F9ln8b-0&libraries=places"></script>
</head>
<body>
  <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Rec Ninja</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
           <li><a href="#">?</a></li>
        </ul>
     </div>
  </nav>

   <div class="row">
      <div class="col s3 m3 l3">
         <ul class="collapsible" data-collapsible="expandable">
             <li>
               <div class="collapsible-header">Interests</div>
               <div class="collapsible-body" id="interests">
                  <div id="selected-interests"></div><br />
                  <div class="divider"></div><br />
                  <div id="unselected-interests"></div>

             </li>
             <li>
               <div class="collapsible-header">Destinations</div>
               <div class="collapsible-body" id="destinations">
               </div>
             </li>
           </ul>
      </div>

      <div class="col s6 m6 l6">
         <div id="map"></div>
      </div>
      <div class="row">
      <div class="col s3 m3 l3">
         <ul class="collapsible" data-collapsible="expandable">
             <li>
               <div class="collapsible-header">Suggestions</div>
               <div class="collapsible-body" id="suggestions">
                   <div class="row">
                     <div class="col s12">
                        <ul class="tabs">
                          <li class="tab col s4"><a href="#filtered" class="active">All</a></li>
                          <li class="tab col s4"><a href="#bookmarked">Bookmarked</a></li>
                          <li class="tab col s4"><a href="#added-to-route">Added to Route</a></li>
                        </ul>
                     </div>
                     <div id="filtered"></div>
                     <div id="bookmarked"></div>
                     <div id="added-to-route"></div>
                  </div>
               </div>
             </li>
         </ul>
      </div>
   </div>

   <!-- Modal Trigger -->
   <a class="waves-effect waves-light btn modal-trigger" style="display:none" href="#modal1"></a>

   <!-- Modal Structure -->
   <div id="modal1" class="modal">
     <div class="modal-content">
       <h4>Modal Header</h4>
       <p>A bunch of text</p>
     </div>
     <div class="modal-footer">
       <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
     </div>
   </div>


</body>
</html>
