<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>RecPlanner</title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- jQuery -->
   <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

   <!-- materialize -->
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

   <!-- Maps API -->
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEGAr0lLE7n6g1bEOC2smP7Q-F9ln8b-0"></script>
</head>   
<body>
  <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
           <li><a href="#">?</a></li>
        </ul>
     </div>
  </nav>

   <div class="row">
      <div class="col s3 m3 l3">
         <ul class="collapsible" data-collapsible="expandable">
             <li>
               <div class="collapsible-header" id="interests">Interests</div>
               <div class="collapsible-body">
                  <form>
                     <input type="checkbox" name="interest" value="camping"> Camping <br />
                     <input type="checkbox" name="interest" value="hiking"> Hiking <br />
                  </form>
               </div>
             </li>
             <li>
               <div class="collapsible-header" id="destinations">Destinations</div>
               <div class="collapsible-body">
                  <input type="text" placeholder="Starting Place:">
                  <input type="text" placeholder="Point A:">
                   <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">+</i></a>
               </div>
             </li>
             <li>
               <div class="collapsible-header" id="suggestions">Suggestions</div>
               <div class="collapsible-body"></div>
             </li>
           </ul>
      </div>

      <div class="col s9 m9 l9">
         <div class="divider section"></div>
      </div>
   </div>
</body>
</html>