<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>RecPlanner</title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- jQuery -->
   <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

   <!-- materialize -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

   <!-- Maps API -->
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEGAr0lLE7n6g1bEOC2smP7Q-F9ln8b-0&libraries=places"></script>
</head>
<body>
  <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Rec Ninja</a>
        <ul id="nav-mobile" class="right">
           <li><a class="waves-effect waves-light modal-trigger" href="#tutorial-modal"><i class="material-icons">help_outline</i></a></li>
        </ul>
     </div>
  </nav>

   <div class="row">
      <div class="col s3 m3 l3">
         <ul class="collapsible" data-collapsible="expandable">
             <li>
               <div class="collapsible-header active" id="interests-header">Interests</div>
               <div class="collapsible-body" id="interests">
                  <div id="selected-interests">Selected</div><br />
                  <div class="divider"></div><br />
                  <div>Available</div>
                  <div id="unselected-interests"></div>
                  <div class="center padding"><a class="waves-effect waves-light btn" id ="clear-interests">Clear Interests</a></div>
             </li>
             <li>
               <div class="collapsible-header active">Destinations</div>
                <p class="center" id="font-size-12">Search Radius (miles)</p>
                <form action="#">
                  <p class="range-field">
                    <input type="range" id="radius-slider" min="10" max="50" step="5" value="50"/>
                  </p>
                </form>
        
               <div class="collapsible-body" id="destinations">
               </div>
             </li>
           </ul>
      </div>

      <div class="col s6 m6 l6">
         <div id="map"></div>
      </div>
      <div class="row">
      <div class="col s3 m3 l3">
         <ul class="collapsible" data-collapsible="expandable">
             <li>
               <div class="collapsible-header active">Suggestions</div>
               <div class="collapsible-body" id="suggestions">
                   
                   <ul class="tabs">
                          <li class="tab col s4"><a class="active" href="#filtered-container">All</a></li>
                          <li class="tab col s8"><a href="#bookmarked">Bookmarked</a></li>
                        </ul>
                     
                     <div class="row">
                      <div class="col s12">
                      <div id="filtered-container">
                        <div id="button-container"></div>
                        <div id="filtered"></div>
                      </div>
                     <div id="bookmarked"></div>
                  </div>
               </div>
             </li>
         </ul>
      </div>
   </div>

   <!-- Modal Structure -->
   <div id="modal1" class="modal modal-fixed-footer">
     <div><a href="#!" class="modal-action modal-close waves-effect fixed"><i class="material-icons">clear</i></a></div>
     <div id="modal1-content" class="modal-content">
      
     </div>
     <div class="modal-footer" id="rec-area-detail-modal-footer">
       <a href="#!" id='book-mark-btn' class="modal-action modal-close waves-effect btn btn-flat">Bookmark</a>
     </div>
   </div>

   <div id="tutorial-modal" class="modal">
    <div class="modal-content">
    <a href="#!" class="modal-action modal-close waves-effect fixed"><i class="material-icons">clear</i></a>
      <h4>How it Works</h4>
      <ol>
        <li>Select all of your interests </li>
        <li>Select your starting point</li>
        <li>Select any other destinations that apply</li>
        <li>Press the find recreation button</li>
      </ol>
    </div>
    <div class="modal-footer">
      <!-- <a href="#!" class="modal-action modal-close waves-effect btn btn-flat">Close</a> -->
      <a href="#!" class="oops btn">Do Not Press</a>
    </div>
  </div>


</body>
</html>
