.recreation{
   background: red;
}

.suggestionSummary {
    font-size: 1em;
}

.suggestionSummary:hover {
    background-color:rgba(0, 0, 0, 0.1);

}

#recNameModal {
    /*margin-top: 5%;*/
    font-size: 25px;
    text-align: center;
}

#activityTypeModal {
    margin-left: 5%;
    line-height: 5%;
}

#activityModalHead {
    margin-left: 5%;
}

#recPhoneModal {
    margin-left: 5%;
    text-align: center;
}
