.recreation{
   background: red;
}

.suggestionSummary {
    font-size: 1em;
    margin-top: 15%;
}

.suggestionSummary:hover {
    background-color:rgba(0, 0, 0, 0.1);

}

#recNameModal {
    font-size: 25px;
    text-align: center;
}

#activityTypeModal {
    margin-left: 5%;
    line-height: 5%;
}

#activityModalHead, #descModal, #addressHeadModal {
    margin-left: 5%;
    margin-top: 2%;    
}

#recPhoneModal, #recEmailModal, #recUrlModal {
    margin-left: 5%;
    text-align: center;
}

.addressModal {
    margin-left: 5%;

}

#noneFound {
    text-align: center;
    font-size: 1em;
}